body {
	background-image: url("../imgs/quill.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.posts {
	float: left;
	font-size: 1.6em;
	min-height: 600px;
	min-width: 480px;
}

.posts li {
	padding-bottom: 1em;
}

.posts ul {
	list-style-type: none;
}