.left-arrow {
	float: left;
}

.right-arrow {
	float: right;
}

article {
	float: left;
	margin-right: 5%;
	max-width: 66%;
}

article p {
	margin: 10px 0px 10px 0px;
}

article h1 {
	margin-top: 12px;
}