html, body {
	font-family: 'Raleway', Helvetica;
	font-size: 1.05rem;
	color: #3d3d5c;
	box-sizing: border-box;
}

a:link {
	color: #5C5C8A;
	text-decoration: none;
}

a:visited {
	color: #735c8a;
}

a:hover {
	text-decoration: underline;
}

.important {
	font-weight: 600;
	text-decoration: underline;
}

.footer {
	clear: both;
	margin-left: 45%;
	padding-top: 1rem;
}
