body {
	background: url("../imgs/boat.png");
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
 }

.avatar {
	float: left;
	margin-right: 60px;
}

.text {
	float: left;
	padding-left: 10px;
	max-width: 38%;	
	font-size: 1.4em;
}

.text p {
	margin-bottom: 10%;
}

.links a {
	padding: .5em 1em .5em 0em;
}

.links li {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 3%;
}

article ul {
	padding: 0px;
	margin: 0px;
}