/*body {
	background: url("../imgs/boat.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 }*/

.avatar {
	float: left;
	margin-right: 35px;
	margin-top: 15px;
	margin-left: 10px;
}

.text {
	float: left;
	padding-left: 10px;
	max-width: 50%;	
	font-size: 1.25em;
}

.text p {
	margin-bottom: 5%;
}

.links a {
	padding: .5em 1em .5em 0em;
}

.links li {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 1em;
}

article ul {
	padding: 0px;
	margin: 0px;
}

.icon-linkedin.bump-up {
	position: relative;
	top: -2px;
	padding-left: 8px;
}

pre {
	margin: 0px;
}