<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eunice Do</title>
  
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <!-- Foundation Zurb -->
  <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

  <!-- Personal CSS pages -->
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main-index.css">
  
  <!-- HighlightJS Syntax Highlighter Min CSS -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/color-brewer.min.css">

  <!-- IcoMoon Icon Font CSS -->
  <link rel="stylesheet" type="text/css" href="stylesheets/icons.css">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/ico" href="imgs/favicon.ico" />

  <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>
  <div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="http://yoonis.github.io/">Eunice Do</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown">
          <a href="#">Work Experience</a>
          <ul class="dropdown">
            <li><a href="#">Job 1</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Portfolio</a>
          <ul class="dropdown">
            <li><a href="#">Project A</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="http://yoonis.github.io/blog/">Blog</a>
          <ul class="dropdown">
            <li><a href="http://yoonis.github.io/blog/tech.html">Functional Programming</a></li>
            <li><a href="http://yoonis.github.io/blog/JavaScript.html">JavaScript Loops</a></li>
            <li><a href="http://yoonis.github.io/blog/ruby-classes.html">Ruby Classes</a></li>
            <li><a href="http://yoonis.github.io/blog/enumerable-methods.html">Enumerable of the Day</a></li>
            <li><a href="http://yoonis.github.io/blog/diversity.html">Women in Tech</a></li>
            <li><a href="http://yoonis.github.io/blog/">See More</a></li>
          </ul>
        </li>
        <li><a href="http://yoonis.github.io/streaming/index.html">What's Streaming</a></li>
      </ul>
    </section>
  </nav>
</div>



  <footer class="footer">
      <p>(c) 2015 Eunice Do</p>
  </footer>

  <!-- HighlightJS JS -->
  <script src="http://cdn.jsdelivr.net/highlight.js/8.8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Foundation Zurb -->
  <script type="text/javascript" src="bower_components/foundation/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>
  <script> 
    $(document).foundation('reflow'); 
  </script>

</body>
</html>